# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# Build outputs
# =========================
target/
build/
out/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
*.pid
*.seed
*.tmp

# =========================
# Environment & Secrets
# =========================
# Env files
.env
*.env

# Secret YAML configs
application.yaml
*.secret.yaml
certs

# =========================
# Node / Frontend (nếu có)
# =========================
node_modules/
dist/

# =========================
# Python (nếu có service Python)
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# =========================
# Java / Gradle / Maven
# =========================
*.class
*.jar
*.war
*.ear
.gradle/
*.swp

# =========================
# Backup & Temp
# =========================
*.bak
*.tmp
*.swp