# IDE
.idea/
*.iml

# Build
target/
build/

# Secrets (Chặn tuyệt đối file gây lỗi)
notification-service/src/main/resources/application.yaml
**/src/main/resources/*.yaml
**/src/main/resources/*.yml
**/src/main/resources/certs